<?xml version="1.0"?>

<model>
  <name>Turtlebot3 House Camera</name>
  <version>1.0</version>
  <sdf version="1.6">overhead_cam2.sdf</sdf>

  <author>
    <name>Ajay Kumar Sandula</name>
    <email>ajay.kumar.sandula@intel.com</email>
  </author>

  <description>
    Turtlebot3 House Camera
  </description>
</model>
